
.todo {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.477);
  border-radius: 8px;
  margin: 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.todo > p {
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

input[type="checkbox"] {
  background-color: white;
}

.checked {
  text-decoration: line-through;
}