.navbar {
  float: left;
  display: block;
  /* height: 4rem; */
  max-width: 100dvw;
  min-width: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__link {
  padding: 2rem;
}
