.submit-form {
  width: 70%;
  padding: 1.5rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.form__header {
  font-size: 2rem;
}

.form__input-row {
  display: flex;
  align-items: center;
}

.form__label {
  font-size: 1.25rem;
  font-weight: 700;
}

.form__input {
  margin: 0 12px;
  padding: 10px 9.25rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
}
